@model IEnumerable<MVC3.DATA.EF.Author>

@{
    ViewBag.Title = "AuthorsQs";
}

<h2>AuthorsQs</h2>

<div class="row panel panel-primary">
    <br/>
    <form action="AuthorsQS" method="get" class="form-horizontal pull-left">
        <div class="form-group">
            <div class="col-xs-offset-1 col-xs-11 col-sm-2">
                <label for="searchFilter">Search Name</label>
            </div>
            <div class="col-xs-offset-1 col-xs-11 col-sm-5">
                <input type="text" name="searchFilter" />
            </div>
            <div class="col-xs-offset-1 col-xs-11 col-sm-2">
                <input type="submit" value="Go!" class="btn btn-primary" />
            </div>
        </div>

    </form>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
    </tr>
}

</table>
