@model PagedList.IPagedList<MVC3.DATA.EF.Magazine>
@using PagedList.Mvc;

@{
    ViewBag.Title = "LabMagazinesMVCPaging";
}

<h2>LabMagazinesMVCPaging</h2>

<!--build a search form with Html.BeginForm.  doint an (at)using for somereason
    
    below name of action, then controlled, then changed method to get?-->
@using (Html.BeginForm("LabMagazinesMVCPaging", "Filters", FormMethod.Get))
{
    <p class="pull-right text-right">
        @Html.TextBox("magazineSearch", ViewBag.CurrentFilter as string,
       new { placeholder = "Search Magazine Title" })
        <input type="submit" value="Search" class="btn btn-primary"/>
    </p>
}

<!--now we add an if statement so that if there is no results we get a msg. otherwise the else is the normal table displayed-->
Page@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@if (Model.Count == 0)
{
    <p class="alert alert-warning">
        No results meet your criteria
    </p>
}
else
{
@Html.PagedListPager(Model, page => Url.Action("LabMagazinesMVCPaging", new { page, currentFilter = ViewBag.CurrentFilter }))

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().MagazineTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().IssuesPerYear)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PricePerYear)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Category)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Circulation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishRate)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MagazineTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuesPerYear)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.PricePerYear)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Circulation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishRate)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MagazineID }) |
            @Html.ActionLink("Details", "Details", new { id = item.MagazineID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MagazineID })
        </td>
    </tr>
}

</table>
} //end of else statement from no results message