@model IEnumerable<MVC3.DATA.EF.Book>

@{
	ViewBag.Title = "Books (Review + Shopping Cart)";
}

<h2>@ViewBag.Title</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.ISBN)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.BookTitle)
		</th>
		@*REMOVED view tweaking
				<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>*@
		<th>
			@Html.DisplayNameFor(model => model.Price)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.UnitsSold)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PublishDate)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.BookImage)
		</th>
		@*REMOVED view tweaking
					<th>
					@Html.DisplayNameFor(model => model.IsSiteFeature)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.IsGenreFeature)
				</th>
			<th>
				@Html.DisplayNameFor(model => model.BookRoyalty.BookID)
			</th>*@
		<th>
			@Html.DisplayNameFor(model => model.BookStatus.BookStatusName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Genre.GenreName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Publisher.PublisherName)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.ISBN)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.BookTitle)
			</td>
			@*REMOVED view tweaking
				<td>
					  @Html.DisplayFor(modelItem => item.Description)
				  </td>*@
			<td>
				@Html.DisplayFor(modelItem => item.Price)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.UnitsSold)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PublishDate)
			</td>
			<td>
				@*Thumbnail img. Less flexible but better performance if we have systemic thumbnails.*@
				<img src="~/Content/imgstore/books/t_@item.BookImage" title="@item.BookTitle" alt="Book cover" />
			</td>
			@*REMOVED view tweaking
					<td>
					@Html.DisplayFor(modelItem => item.IsSiteFeature)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsGenreFeature)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BookRoyalty.BookID)
				</td>*@
			<td>
				@Html.DisplayFor(modelItem => item.BookStatus.BookStatusName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Genre.GenreName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Publisher.PublisherName)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.BookID }) |
				@Html.ActionLink("Details", "Details", new { id = item.BookID }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.BookID })
			</td>
		</tr>
	}

</table>
